Question about colons from TAG

From a comment on the TAG issue requesting a horizontal review:
https://github.com/w3ctag/design-reviews/issues/556#issuecomment-760954357

```
Initially, I skeptical about the decision to use a colon (:) to separate the method name from the method-specific id.
Since the colon has several different special meanings in URLs already, adding yet another separate meaning
makes parsing harder, and increases the likelihood that old or carelessly written code will misparse these.
However, after digging in a bit more, I was reminded that this syntax is consistent with URNs, so using colons
is perfect for consistency.

Do note however that NIDs and NSSes in URNs (somewhat analogous to method names and method-specific ids here)
are parsed as paths. Given that DIDs have a separate path component, how are they supposed to be parsed?
Is <method-name>:<method-specific-id> part of the host (which is inconsistent with URNs), or part of the path
(which means the actual path needs to be extracted manually)?
```

As the commenter notes, the design of DID URL syntax was patterned after URN syntax, given in section 2 of [RFC 8141](https://tools.ietf.org/html/rfc8141#page-9):

```
      namestring    = assigned-name
                      [ rq-components ]
                      [ "#" f-component ]
      assigned-name = "urn" ":" NID ":" NSS
      NID           = (alphanum) 0*30(ldh) (alphanum)
      ldh           = alphanum / "-"
      NSS           = pchar *(pchar / "/")
      rq-components = [ "?+" r-component ]
                      [ "?=" q-component ]
      r-component   = pchar *( pchar / "/" / "?" )
      q-component   = pchar *( pchar / "/" / "?" )
      f-component   = fragment
```
The following is noted in section 2.2 of the spec:

```
   The NSS as specified in this document allows several characters not
   permitted by earlier specifications (see Appendix B).  In particular,
   the "/" character, which is now allowed, effectively makes it
   possible to encapsulate hierarchical names from non-URN identifier
   systems.  For instance, consider the hypothetical example of a
   hierarchical identifier system in which the names take the form of a
   sequence of numbers separated by the "/" character, such as
   "1/406/47452/2".  If the authority for such names were to use URNs,
   it would be natural to place the existing name in the NSS, resulting
   in URNs such as "urn:example:1/406/47452/2".
```

So our intent was to be consistent with this syntax. From the standpoint of the ABNF in Appendix A of [RFC 3986](https://www.ietf.org/rfc/rfc3986.txt), this means the string in a DID URL after the `did: scheme` and before the first forward slash (if present) is considered a rootless path.

```
   URI           = scheme ":" hier-part [ "?" query ] [ "#" fragment ]

   hier-part     = "//" authority path-abempty
                 / path-absolute
                 / path-rootless
                 / path-empty

   path-rootless = segment-nz *( "/" segment )

   segment-nz    = 1*pchar

   pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"
```
Parsing of the rootless path into the `segment-nz` component and the `*( "/" segment)` component must be done "manually" by the parser as with URNs.





Admin: why closing this issue? It is referred to from https://github.com/w3ctag/design-reviews/issues/556, and does not look good if it is close while the discussion is still ongoing on tag land...

Maybe @talltree closed this by accident? I agree it should remain open while the other one is open.

@iherman Sorry, I misunderstood my action item to respond to this issue. I have re-opened.

TAG has indicated their review is complete: https://github.com/w3ctag/design-reviews/issues/556#issuecomment-763900128