(Minor note) update the IANA file

Just a minor note so that we would not forget: at some point, we will have to update the did reference in https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml, more exactly in https://www.iana.org/assignments/uri-schemes/prov/did.

I have sent the following email to IANA to update the registration:

```
Per RFC 7595, Section 7.2. Registration Procedures - this is a request
to update a registration for the existing provisional "did" URI Scheme.
The update is being requested now that there is an official W3C
Decentralized Identifier Working Group that is standardizing the URI
scheme, data model, and representations.

----------------

Scheme name: did
Status: Provisional

Applications/protocols that use this scheme name:

A "did" URI is used to express an identifier that is conformant to the
Decentralized Identifier[1] specification. The specification details how
identifiers conformant to the "did" URI Scheme can be implemented.

Applications that use this scheme name include ones that require an
identifier that is decentralized, persistent, cryptographically
verifiable, and resolvable. Applications typically consist of
cryptographic identity systems, decentralized networks of devices, and
websites that issue or verify W3C Verifiable Credentials.

This specification is currently under development in the W3C
Decentralized Identifier Working Group and is expected to become a W3C
standard at the end of 2021.

Contact:

 Ivan Herman <ivan@w3.org>
 Manu Sporny <msporny@digitalbazaar.com>

Change controller:

 W3C Decentralized Identifier Working Group <public-did-wg@w3.org>

References:

[1] https://www.w3.org/TR/did-core/
```